<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" data-toggle={{if titleTooLong "tooltip"}} data-placement={{if titleTooLong "top"}} title="{{option.name}}">
      {{truncate-text option.name charCount=charCountForTitle}}
      <div class="pull-right">
        <a href="#" {{action 'selectItem'}}>
          {{fa-icon "check-circle" size="lg" fixedWidth=true}}
        </a>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    {{yield}}
  </div>
</div>
